<div id="map" style="height: 50em; margin: 2em"> 
</div>
<div>
    {{#each reportsArrayForMap}}
    {{name}} -
    Latitude:{{latitude}} 
    Longitude: {{longitude}} <br> 
    {{/each}}
</div>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
<script>
  //Initialising the Map 
 var map = L.map('map').setView([53.18387078947485, -10.35861964502426], 7);

// Adding Tiles to Map 
 L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
}).addTo(map); 

//Marker - Not Working 
/* var marker = L.marker([{{latitude}}, {{longitude}}]).addTo(map); */

</script>


