

<div class="columns is-variable has-text-white  has-background-black">
  <div class="column"> {{>icons/pin}} <br>
    Lat: {{station.latitude}} <br>
    Long: {{station.longitude}}
  </div>
  <div class="column is-1 has-background-white"></div>
  <div class="column"> Weather {{>icons/thunderstorm}}</div>
  <div class="column is-1 has-background-white"></div>
  <div class="column"> 
    Temp {{>icons/temp}} <br> 
    Min: {{currentReport.temperature}} <br>
    </div>
  <div class="column is-1 has-background-white"></div>
  <div class="column"> 
    Wind  {{>icons/wind}} <br>
  Min: {{currentReport.windspeed}} <br> 
  </div>
  <div class="column is-1 has-background-white"></div>
  <div class="column"> 
    Pressure {{>icons/pressure}} 
    Min: {{currentReport.pressure}}  <br>
 </div>

</div>

