<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Code</th>
      <th>Temp</th>
      <th>WindSpeed</th>
      <th>WindDirection</th>
      <th>Pressure</th>
    </tr>
  </thead>
  <tbody>
    {{#each station.reports}}
    <tr>
      <td>
        {{code}}
      </td>
      <td>
        {{temperature}}
      </td>
      <td>
        {{windspeed}}
      </td>
      <td>
        {{winddirection}}
      </td>
      <td>
        {{pressure}}
      </td>
      <td>
         <a href="/station/{{../station._id}}/deletereport/{{_id}}" class="button">
          {{>icons/delete}}
        </a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>