{{>menu}}

<section class="box has-text-centered">
  <h3 class="is-3 title">
    Weather Readings
  </h3>

  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th> Date </th>
        <th>Code</th>
        <th>Temp</th>
        <th>WindSpeed</th>
        <th>Pressure</th>
        <th>WindDirection</th>
      </tr>
    </thead> 
    <tbody>
      <tr>
        <td> {{date}} </td>
        <td>
          {{code}}
        </td>
        <td>
          {{temperature}}
        </td>
        <td>
          {{windspeed}}
        </td>
        <td>
          {{pressure}}
        </td>
        <td>
          {{winddirection}}
        </td>
      </tr>
    </tbody>
  </table>
</section>
<div class="box" id="chart"></div> 
<script>
  const data = {
    labels: [
      {{#each reading.trendLabels}}
        "{{this}}",
      {{/each}}
    ],
    datasets: [
      {
        name: "Temperature", type: "line",
        values: [
          {{#each reading.tempTrend}}
            {{this}},
          {{/each}}
        ]
      }
    ]
  }

  const chart = new frappe.Chart("#chart", {
    title: "Temperature Trend",
    data: data,
    type: 'line',
    height: 250,
    colors: ["red"]
  })
</script>


